* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    line-height: 1.6;
}

main {
    flex-grow: 1;
}

#back-btn {
    padding: 10px 15px;
    margin-bottom: 20px;
    background-color: rgba(37, 41, 43, 1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #f4f4f4
}

.page-title {
    padding-top: 20px;
}